.btn-link-edit {
  color: rgb(49, 48, 48);
  background-color: green;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: underline;
  flex-wrap: nowrap;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
}

.btn-link-delete {
  color: green;
  background-color: rgb(49, 48, 48);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
  flex-wrap: nowrap;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
}

.btn-primary {
  color: green;
  background-color: rgb(49, 48, 48);
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 20px;
}
